@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

/*--------------------------------------------*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*--------------------------------------------*/
body {
    background-image: url(../images/main-bk2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Yellowtail', cursive;
}

/*--------------------------------------------*/
.container {
    position: relative;
    width: 90%;
    height: auto;
    max-width: 1500px;
    margin: 10px auto;
    display: grid;
    grid-gap: 10px;
    grid-template-rows: auto auto 100% auto;
    grid-template-areas: "header header header"
        "navbar navbar navbar"
        "main-content main-content main-content"
        "footer footer footer";
}

/*--------------------------------------------*/
/*Header Styles*/
.container .header {
    color: #000;
    background-color: rgba(125, 206, 160, 0.8);
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2em;
}

.container .header .logo {
    width: 120px;
    height: 120px;
}

.container .header .logo img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.container .header h1 {
    margin: 0;
    text-transform: uppercase;
}

/*--------------------------------------------*/
/*Header Styles*/

/*Navbar Styles*/
.container .navbar {
    grid-area: navbar;
    background-color: rgba(20, 90, 50, 0.8);
    margin: 0;
    padding: 0;
}

.container .navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
}

.container .navbar ul li {
    margin-right: 20px;
    text-transform: uppercase;
}

.container .navbar ul li a {
    padding: 10px 50px;
    color: rgb(145, 230, 142);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
}

.container .navbar ul li a:hover {
    background-color: rgba(213, 245, 227, 1.0);
    color: rgba(24, 106, 59, 1.0);
    transition: 0.5s;
}

.container .navbar ul li a.active {
    background-color: rgba(213, 245, 227, 1.0);
    color: rgba(24, 106, 59, 1.0);
    font-size: 1.4em;
}

/*Navbar Styles*/
/*--------------------------------------------*/
/*Main-content Styles*/
/*Index*/
.container .main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0;
    padding: 0;
    grid-area: main-content;
}

.container .main-content h2 {
    width: 100%;
    margin: 0;
    padding: 0;
    line-height: 50px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2em;

}

.container .main-content video {
    margin: 0 20px;
}

.container .main-content .index-paragraph {
    width: 500px;
    margin: 0;
    text-align: justify;
    font-family: 'Sriracha', cursive;
    font-size: 1em;
    line-height: 1.2em;
}

/*Index*/
/*---------------------------------------------------------*/
/*Services*/
.container .main-content .services-container {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: auto;
    margin: 5% 10%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.container .main-content .service-box {
    position: relative;
    width: 350px;
    height: auto;
    margin: 10px 10px;
    text-align: center;
    background-color: rgba(125, 206, 160, 0.8);
}

.container .main-content .service-box p {
    text-align: center;
}

.container .main-content .service-box:hover {
    max-height: 300px;
    background-color: #7dfbd6;
}

.container .main-content .service-box:nth-child(1):hover:after {
    content: "Lorem, ipsum dolor sit amet consectetur adipisicing <br> elit. Autem explicabo eos ipsam cumque distinctio rem beatae quaerat a ab, odit voluptate. Veritatis deserunt itaque reprehenderit accusamus ex magnam placeat cumque.";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    color: #008080;
    transform: translateY(-50%);
    font-family: 'Sriracha', cursive;
    line-height: 25px;
}

.container .main-content .service-box figure {
    width: 100%;
    padding: 10px 10px;
}

.container .main-content .service-box:hover p,
.container .main-content .service-box:hover figure {
    display: none;
    margin: 0;
}

.container .main-content .service-box figure img {
    width: 100%;
}

.container .main-content .service-box p {
    font-family: 'Sriracha', cursive;
    font-size: 2.5em;
    margin: 0;
    padding: 20px 0;
}

/*Services*/
/*Main-content Styles*/
/*--------------------------------------------*/
/*footer Styles*/
.container .footer {
    background-color: rgba(29, 131, 72, 1.0);
    grid-area: footer;
    text-align: center;
}

.container .footer p {
    margin: 5px 0 0 0;
    font-size: 1.2em;
    color: rgba(255, 255, 255, 1.0);
    padding: 0;
    line-height: 15px;
    font-family: 'Sriracha', cursive;
}

/*footer Styles*/
/*--------------------------------------------*/
/*Media Queries*/
@media screen and (min-width: 780px) and (max-width: 1024px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        grid-template-rows: auto auto auto auto;
        grid-gap: 6px;
    }

    .container .header h1 {
        font-size: 1.3em;
    }

    .container .navbar ul li a {
        font-size: 1em;
    }

    .container .main-content .title2 {
        font-size: 2.5em;
    }

    .container .main-content .video {
        margin: 0 8%;
    }

    .container .main-content .index-paragraph {
        margin: 0;
        font-size: 0.9em;
        width: 40%;
    }

    .container .footer p {
        font-size: 1.1em;
    }

}

@media screen and (max-width: 768px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 0;
        grid-template-rows: auto auto auto auto;
        grid-gap: 0px;
    }

    .container .main-content {
        margin: 0;
        padding: 0;
    }


    .container .header {
        flex-direction: column;
    }

    .container .header h1 {
        font-size: 1.1em;
        margin: 0;
    }


    .container .navbar ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .container .navbar ul li {
        width: 100%;
        text-align: center;
        margin: 0;
        border-bottom: #000 1px solid;
    }

    .container .navbar ul li a {
        display: block;
        transition: none;
    }

    .container .main-content h2 {
        position: relative;
        width: 100%;
        margin: 20px 0 0px 0;
        font-size: 1.7em;
    }

    .container .main-content .video {
        display: block;
        width: 90%;
        margin: 0 5%;
    }

    .container .main-content .index-paragraph {
        display: block;
        width: 100%;
        margin: 20px 0;
        padding: 0 20px;
        text-align: justify;
    }

    .container .footer {
        font-size: 1em;
    }

    .container .footer p {
        color: rgba(255, 255, 255, 1.0);
        margin: 10px 0;
        padding: 0;
    }

}

;
/*--------------------------------------------*/